# Intro to Python

In this notebook, we'll do some very basic Python to get you warmed up with programming. Experienced coders can try the exercises the end of each section, or if you already know intro Python, move ahead to the next notebook.

## Variables

Variables are used to store data. In Python, we use `=` to *assign* data from the right item, to the variable name in the left item. For example:

In [ ]:
name = "Potato"
age = 36
weight = 108.5

Start your variables with letters--you can't use numbers, so `3banana` is not a valid variable name. For variables with many words, use underscores: `three_banana` or camel case: `threeBanana`.

## Printing

Use `print` to send information from your code to the results bar, underneath the cell.

In [ ]:
print(name)

Potato

In [ ]:
print(age)

36

But jupyter notebooks also have a built in print functionality - once per cell you can specify an output without need for the print() function:

In [ ]:
name

'Potato'

In [ ]:
age

36

## Operators

You can do math in Python! It's like a really expensive (and clunky) calculator.

In [ ]:
a = 10
b = 5
a + b

15

In [ ]:
a - b

5

In [ ]:
a * b

50

In [ ]:
a / b

2.0

In [ ]:
firstname = "James"
lastname = "Bond"
firstname + lastname

'JamesBond'

In [ ]:
name = "Bob"
name * 5

'BobBobBobBobBob'

## Types

Variables have **types**, of which you've seen three: **int**s (integers, whole numbers), **float**s (decimal numbers), and **str**s (strings of text, with inverted commas around them--single or double inverted commas are fine, as long as you're consistent).

In [ ]:
type(52)

int

In [ ]:
type(3.1415926)

float

In [ ]:
type("potato")

str

In [ ]:
type("52")

str

### <font color="red">Exercise 1A: More operators</font>

Why stop at four when we have more? Try to `print` these out, and write comments (with `#` in front) to say what they do.

In [ ]:
a = 5 ** 2
b = 3 ** 3
c = 4 ** 5
d = 15 // 12
e = 12 // 15
f = 200 // 50
g = 200 // 51
h = 6 % 2
i_need_better_variable_names = 5 % 2
j = 9 % 5
k = 6 % 6
l = 0 % 7

In [ ]:
print(a,b,c)

25 27 1024

In [ ]:
print(d, e, f, g)

1 0 4 3

In [ ]:
print(h, i_need_better_variable_names, j, k, l)

0 1 4 0 0

In [ ]:
#Answers:
# ** is to the power of
# // is floor division, or integer division, aka the quotient - we drop the remainder after division.
# % is modulo or modulus, the remainder after division

### <font color="red">Exercise 1B: Calculate and print</font>

What if I want to calculate the age of someone who's 3x my age?

Edit the variables below, and print: "3 times my age is 108".

In [ ]:
age=99  #CHANGE ME
n=5001  #CHANGE ME
print(n,"times my age is",age) #this line needs fixing! FIXME!

In [ ]:
#Answer:

age=36
n=3
print(n,"times my age is",age*n)

### <font color="red">Exercise 1C: Seconds in a year</font>

Let's use Python as a glorified calculator again. Below is some code to help you get started--can you figure out how many seconds there are in a year?

In [ ]:
num_seconds_in_minute = 60
num_minutes_in_hour = 0 # FIXME
num_hours_in_day = 0 # FIXME
num_days_in_year = 0 #FIXME
total = ____ * ____  # FIXME
print("The number of seconds in a year is",total)

In [ ]:
#Answer:

num_seconds_in_minute = 60
num_minutes_in_hour = 60
num_hours_in_day = 24
num_days_in_year = 365.25
total = num_seconds_in_minute * num_minutes_in_hour * num_hours_in_day * num_days_in_year

print("The number of seconds in a year is",total)

### <font color="red">Exercise 1D: Pixels</font>

You are given the width and height of a screen in pixels. Calculate the total number of pixels on the screen and store them in a variable called `numberOfPixels`.

In [ ]:
height = 1920
width = 1080

# Your code here

# Some code to print out the results
print("For a screen with height", height, "pixels")
print("And width", width, "pixels")
print("The total number of pixels is", numberOfPixels)

In [ ]:
# Answer:

height = 1920
width = 1080
numberOfPixels = height * width

print("For a screen with height", height, "pixels")
print("And width", width, "pixels")
print("The total number of pixels is", numberOfPixels)

### <font color="red">Exercise 1E: Boys and girls</font>

Calculate the percentage of boys (`percentBoys`) and the percentage of girls (`percentGirls`) in a class, and print it out.

In [ ]:
numberOfBoys = 60
numberOfGirls = 20

# Your code here

In [ ]:
#Answer:
numberOfBoys = 60
numberOfGirls = 20
total = numberOfBoys + numberOfGirls

percentBoys = 100 * numberOfBoys / total
percentGirls = 100 * numberOfGirls / total
print(percentBoys)
print("% of boys is...", int(percentBoys), "%")
print("% of girls is...", str(int(percentGirls)) + "%")

<hr>

## Functions

A function is a piece of reusable code that lets you run it again and again, but possibly with different parameters. Try running this function below with some different parameters:

In [ ]:
def dogYearCalculator(age):
    print("Your age is", age)
    print("Your age in dog years is ", 7 * age)

In [ ]:
dogYearCalculator(10)

In [ ]:
dogYearCalculator(40)

There are some useful built-in functions, too! You've been using `print`, a function that prints things out. Let's now use it to print the results of other functions:

In [ ]:
max(4, 6, 2)

In [ ]:
min(1, 2, -10)

In [ ]:
round(3.596)

In [ ]:
len("banana") # len is short for "length"

Some functions are in _modules_, e.g. the `math` module. To get started, you have to first `import math`, then try the functions within. Here is some gratuitious trigonometry:

In [ ]:
import math

In [ ]:
print("Pi is", math.pi)

In [ ]:
print("Cosine Pi is", math.cos(math.pi))

In [ ]:
help(math)

In [ ]:
import math as m # if you're tired of typing "math", you can import it as a shorter name. So many letters saved!
print(m.pi)

### <font color="red">Exercise 2A: Errors</font>

If you make a typo, Python will give you an error. Some may look cryptic, but you can try to figure out what they're telling you based on the line of the error. Try running the below, and identifying the errors in the code.

In [ ]:
name = "Banana"                                              #Answer: missing a closing quotation

In [ ]:
age = 55
weeksPerYear = 56
weeks_lived = age * weeksPerYear                            #Answer: weeksPerYear is not defined

In [ ]:
print("Hello")                                              #Answer: print() function is mispelled

Hello

### <font color="red">Exercise 2B: Cube</font>

Write a function, `cube(n)`, that takes in a number, `n`, and prints out the cubed result.

In [ ]:
def cube(n):
    result = 0 # FIXME
    print("The result is",result)

cube(3) # this line is to test your code

In [ ]:
#Answer:

def cube(n):
    result = n ** 3
    print("The result is",result)

cube(3)
cube(4)
cube(5)

### <font color="red">Exercise 2C: Using functions</font>

Before running the code below, try predicting what each `print` statement will tell you. Can you explain what's going on with the `max` function call, between `rich` and `poor`?

In [ ]:
rich = "gold"
poor = "tin"
max(rich, poor)

'tin'

In [ ]:
# Python considers strings greater than one another based off the character they begin with. It uses the following order:
# 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
# This ordering is based on the hexadecimal Unicode code point for each character
# e.g. capital A is 0041, capital B is 0042, lowercase a is 0061, lowercase b is 0062, etc.
# Full table can be found here: https://www.ibm.com/docs/en/i/7.2?topic=tables-unicode-lowercase-uppercase-conversion-mapping-table

In [ ]:
# For example:
max("a","A", "1")

<hr>

## Lists

So far, we've stored information in single variables. This would be unwieldy if we're dealing with a lot of data, e.g. weather readings over a year--imagine declaring variables `rainfall1`, `rainfall2`, `rainfall3`, etc.

We're going to introduce **lists** here--a way to store multiple pieces of data in one variable. The first list here is a list of pressure values, defined within square brackets `[]`, separated by commas:

In [ ]:
rainfall = [0.24, 1.25, 0.28, 2.22, 3.23, 7.47]

In [ ]:
max(rainfall)

7.47

In [ ]:
len(rainfall)

6

You can also access individual elements in a list, by using the **square bracket notation** -- add a square bracket after your variable name, then have a number in it with the **index** of the element you want to access. Computer scientists count from 0, so if you want the first item, it's at index 0; second item is at index 1.

In [ ]:
rainfall[0]

0.24

In [ ]:
rainfall[1]

1.25

In [ ]:
rainfall[-1]

7.47

There are some list functions you can use. How do you find out about them? [Search](https://encrypted.google.com/search?q=python+list+functions)!

In [ ]:
rainfall.append(9.99)
rainfall

In [ ]:
rainfall.insert(3, 3.33)
rainfall

Here's something you can do with lists: **slice** them using the slice operator, a colon. Instead of providing a single number in the index, get back part of the list by providing a range of numbers, for example:

In [ ]:
rainfall[1:4]

In [ ]:
rainfall[:2]

In [ ]:
rainfall[3:]

### <font color="red">Exercise 3A: I got a list, here's the order of my list that it's in</font>

Here's a list. Can you do the following manipulations to it?

* Append “apple” and 76 to the list.
* Insert the value “cat” at index 3.
* Insert the value 99 at the start of the list.
* Find the index of “hello”.
* Count the number of 76s in the list.
* Remove the first occurrence of 76 from the list.

Print out your final list to check your answer.

In [ ]:
myList = [76, 92.3, 'hello', True, 4, 76]
# Space for your working here

In [ ]:
#Answer:

myList = [76, 92.3, 'hello', True, 4, 76]

myList.append("apple")
myList.append(76)
print(myList)

myList.insert(3, "cat")
print(myList)

print("The index of 'hello' is", myList.index("hello"))
print("The number of 76s in the list is", myList.count(76))

myList.remove(76)
print(myList)

### <font color="red">Exercise 3B: Fill in the blanks</font>

Fill in the blanks so that the program below produces the output shown:
```
first time: [1, 3, 5]
second time: [3, 5]
```

In [ ]:
values = []
values.____(1)  #hint: we need to add values to the list somehow!
values.____(3)
values.____(5)
print('first time:', values)
values = values[____]  #hint: use list slicing!
print('second time:', values)

In [ ]:
#Answer:

values = []
values.append(1)
values.append(3)
values.append(5)
print('first time:', values)
values = values[1:]
print('second time:', values)

<hr>

## Loops

Now that we have lists, we want to be able to work on the data within them at one swoop, i.e. not have to edit `item[0]`, `item[1]`, `item[2]` one by one. For this, we can use a loop.

A loop starts with `for`, ends with a colon, and subsequent lines are indented:

In [ ]:
stuff = ["potatoes", "bananas", "pie"]

for thing in stuff:
    print(thing)

In [ ]:
# We can call the looping variable any name really. E.g.:
for any_name_really in stuff:
    print(any_name_really)

In [ ]:
# Many statements in a loop? Sure. Just make sure they're indented--have a tab before them.
for i in stuff:
    print("I like", i)
    print("I really really like",i)
    print("Mmmmmmm")

In [ ]:
#use the range() function to automatically create a list
# range(10) creates a list from 0 to 9
# range(20) creates a list from 0 to 19
# range() has some optional parameters you can explore too:  range(start, stop, step) where start by default is 0 and step by default is 1
for i in range(10):
    print("banana",i)

### <font color="red">Exercise 4A: Multiply everything</font>

Given a list of values, print out 2x of everything. E.g. [1, 2, 3] will print out:
```
2
4
6
```

In [ ]:
values = [1,2,3,4]

for i in values:
    print(i) #FIXME

In [ ]:
#Answer:

values = [1,2,3,4]
for i in values:
    print(i * 2)

### <font color="red">Exercise 4B: Square everything</font>

Given a list of values, print out the square of everything. E.g. [1, 2, 3] will print out:
```
1
4
9
```

In [ ]:
values = [1,2,3,4]
for i in values:
    print(i) #FIXME

In [ ]:
#Answer:

values = [1,2,3,4]
for i in values:
    print(i ** 2)

### <font color="red">Exercise 4C: Print this Christmas tree using a loop</font>

Your code should print out the following result:

```
*
**
***
****
```

In [ ]:
# some starter code
for i in range(4):
    print("*")

In [ ]:
# Answer

for i in range(4):
    print("*" * (i))

In [ ]:
# Even better answer

#Symmetrical Christmas Tree:
h=4
for i in range(h):
    print(" "*(h-(i+1))  +  "*"*(2*i+1))

<hr>

## Conditionals

To have Python make decisions for us, we use `if` statements. These control whether blocks of code are run or not. Structurally, they're similar to `for` loops; you start with an `if`, end with a colon, and indent the block of code you want to run conditionally:

`else` can be used following an `if`, to specify an alternative course of action

and `elif` can be used to define more conditions

In [ ]:
temp = 35

if temp > 30:
    print("Wah! Too hot!")
elif temp > 25:
    print("Still too hot to go outside")
else:
    print("Safe to go outside")

In [ ]:
temp = 35
humidity = 95

if temp > 30 and humidity > 90:
    print("It's hot and humid outside")

if temp > 30 or humidity > 90:
    print("It's either hot or humid outside (or both)")

That seemed rather pointless, because we _knew_ what the values were before we ran the loop. Conditionals become more useful when dealing with data we don't define ourselves, e.g. when the data comes in a list:

In [ ]:
rainfall = [0.24, 1.25, 0.28, 2.22, 3.23, 7.47]

for number in rainfall:
    if number > 3.0:
        print(number, "that's a LOT of rain")
    elif number > 1.5:
        print(number, "that's a decent amount of rain")
    else:
        print(number, "that's not too much rain")

### <font color="red">Exercise 5A: Print this list, but numbered</font>

Given a list of values, print them out, but with numbering. E.g.:
```
Day 1 reading: 0.44
Day 2 reading: 0.01
Day 3 reading: 0.24
```

Note: this first exercise doesn't use conditionals, but the following ones will!

In [ ]:
readings = [0.44, 0.01, 0.24]
index = 1 # hint!

for r in readings:
    print(r) # FIXME

In [ ]:
# Answer:

readings = [0.44, 0.01, 0.24]
index = 1 # hint!

for r in readings:
    print("Day",index,"reading:",r)
    index = index + 1

### <font color="red">Exercise 5B: Panic if something is too low</font>

Same as above, but insert a huge warning if the value is below 0.1:
```
Day 1 reading: 0.44
Day 2 reading: 0.01 . WHAT! THIS IS TOO LOW!
Day 3 reading: 0.24
```

In [ ]:
readings = [0.44, 0.01, 0.24, 0.02]
index = 1 # hint!

for r in readings:
    print(r) # FIXME

In [ ]:
#Answer:

readings = [0.44, 0.01, 0.24, 0.02]
index = 1

for r in readings:
    if (r < 0.1):
        print("Day",index,"reading:",r,"  WHAT! THIS IS TOO LOW!")
    else:
        print("Day",index,"reading:",r)
    index = index + 1

# FizzBuzz Challenge

For each number from 1 to 100:
*    if the number is divisible by 3, print Fizz
*    if the number is divisible by 5, print Buzz
*    if it is divisible by both, print FizzBuzz
*    if the number is not divisible by either, print the number itself.

In [ ]:
def FizzBuzz(num):
  if num % 3 == 0:
    if num % 5 == 0:
      return ("FizzBuzz")
    else:
      return "Fizz"
  elif num % 5 == 0:
    return "Buzz"
  else: return num

In [ ]:
for i in range(1,101):
  print(FizzBuzz(i))

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

<hr>

## Further reading

Want to learn more? We recommend the following:

* [How to think like a Computer Scientist](https://openbookproject.net/thinkcs/python/english3e/), an interactive online book
* [Automate the Boring Stuff with Python](https://automatetheboringstuff.com/), for your lifehacks. Also available on Udemy as video.